body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "https://www.colorcombos.com/images/colors/FDD023.png";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mybackground {
  background-image: url(./background3.jpg);

  /* height: 350px; */
  height: 120vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.-internal-autofill-selected {
  background-color: #f0c7df !important;
}
